*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}.menu-bar
{

    height: 80px;
    width: 100%;
    background-color:whitesmoke;




}.menu-bar ul
{
    float: right;;
    margin-right: 20px;
    color: #fff;
}.menu-bar ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}.menu-bar ul li a
{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-size :17px;
}a.active,a:hover
{
    background:rgb(197, 195, 195);
    border-radius:3px;
    transition: .2s;

}.menu-bar.fa
{
    margin: left 8px;

}.checkbtn{
    font-size: 40px;
    display: none;
    float: left;
    line-height: 40px;
    margin-left: 40px;
    cursor: pointer;


}
#check
{
    display: none;
   
}
@media( max-width:952px){

    .nav ul li a {
        font-size:30px;

    }.checkbtn{
    display:block;
}
    
    
    ul{
        
        position: fixed;
        width: 100%;
        height: 95vh;
        top: 48px;
        left:-100%;
        text-align: center;
        transition: all.5s;
        background-color: whitesmoke;
        
    }
    .menu-bar ul li {
        margin: 10% ;
        line-height: 82px;
        display: block;
        

    }
    .menu-bar ul li a {
        font-size:20px;
        padding:2px;
        border-radius: 3px;

}
    a:hover,a.active{
    
        color: #fff;
    }
    #check:checked ~ ul{
    left: 0;
    padding-bottom: 10px;
    color: white;
    }.page{
        background-position-x: center;
        height:1500px;
        background-color: black;

    }.a-side{
    margin-top:50%;
    }

}
 
.page
{
   
  
    background-position-x: center;
    height:750px;
    background-color: black;
    float: left;


}.rounded-circle
{
    opacity: 1em;
    border: 0.5px solid rgb(197, 195, 195);
    border-radius: 1em;
    width:10em;
    margin-top:20%;
    


 }.image{
        width:100%;
        height:600px;
         float:left;
         margin-top: 5%;
         
    }.skil-bar{
        width:100%;
        height: 300px;
        float: left;
        margin-top: 5%;
      
     }.profile-pic{
        width:100%;
        height: 300px;
        padding:5%;
        float: left;
     
     }.discription{
        width:100%;
        height: 300px;
        float: left;
        color:#ffff;
        background-color: black;
        padding: 0px;

     }
      
.bar{
        width:100%;
        float: left;
        height:25px;
        background-color: #fff;
        border-radius:10px;

    }.skil-bar p{
       text-align: left;
       color: #fff;
    }.html{
        width:75%;
        height:25px;
        background-color:red;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        color: #fff;
        text-align: center;
        float: left;
        text-align: end;
    
   
    }.html-move{
       width:20%;
        color: #fff;
        float: left;
        background-color:red;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        margin-left: auto;
        height:25px;
       
        
    }.css-move{
        width:20%;
         color: #fff;
         float: left;
         background-color:red;
         border-bottom-right-radius: 10px;
         border-top-right-radius: 10px;
         text-align: center;
         margin-left: auto;
         height:25px;
        
         
     }.css{
        width:89%;
        height:25px;
        background-color:red;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        color: #fff;
        text-align: center;
        float: left;
        text-align: end;
    }.javascript{
        width:75%;
        height:25px;
        background-color:red;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        color: #fff;
        text-align: center;
        float: left;
        text-align: end;
    }.a-side{
    width:100%;
    height:600px;
    background-color: black;
    float:left;
    margin-top:5%;
    }.sliding-image{
     height:400px;
     float: left;
     width:100%;
    }.d-block{

        height:400px;
        float: left;
        width:100%;

    }.cardo{
        width: 100%;
        height:400px;
        background-color:black;
        float: left;
 
    }.social-over{
        width: 100%;
        height:200px;
        float: left;
        padding-top:5%;
         text-align: center;
         color: #fff;
    }
    

.footer{
    width:100%;
    height:70px;
    background-color: black;
    float:left;
    padding-top:5px;

    text-align: center;
    
}.social a
{
    display: flex;
    background: #e3edf7;
    height: 2em;
    width: 3em;
    margin: 0 15px;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(92, 92, 92, 0.7);
    border: 1px solid rgba(0,0,0,0);
    transition: transform 0.5s;
    
}.social a i
{
    font-size: 20px;
    color: #777;

}.social a:hover
{
   box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px  rgba(255,255,255,1),
                -0.5px -0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.5);
   border: 1px solid rgba(0,0,0,0.01);
   transform: translate(2px);
   text-decoration:none ;    
    width:4em;  
    height:4em;       

}.social a:hover i
{
    transform:scale(0.90) ;
  

}.social a:hover .fa-facebook
{
    color: #3b5998;
    font-size:35px;
  
  
}.social a:hover .fa-whatsapp
{
    color: #4fce5d;
    font-size:35px;
}.social a:hover .fa-twitter
{
    color: #00acee;
    font-size:35px;
}.social a:hover .fa-instagram
{
    color: #f14843;
    font-size:35px;
}.social{
  
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}.social-header{
    float: left;
    width: 100%;
    height: 50px;
   
 
}.social-header :hover{

    letter-spacing: 2px;
  
}
    @keyframes move {
        0%{
          right: 0px;
        
          
      
      
        }
        100%{
         right: 15px;
        }
        
        
          
              }      
        @keyframes moveB {
            0%{
                right: 0px;
              
                
            
            
              }
              100%{
               right: 15px;
            

              }
} .html-move{
    animation-name: move;
    animation-duration:3s;
    animation-timing-function:ease;
    animation: move 1s;
    animation-direction:alternate;
    animation-iteration-count:4;

}.css-move{
    animation-name: moveB;
    animation-duration:5s;
    animation-timing-function:ease;
    animation: moveB 2s;
    animation-direction:reverse;
    animation-iteration-count:1;
}

